/* Your custom styles go here */
body {
  color: #1a1818;
}
table, tr, td {
  vertical-align: middle;
}

.header {
  border-bottom: 10px solid #000;
}
.header td {
  padding: 0;
}
.header .date {
  vertical-align: bottom;
  width: 190px;
}
.header .date table {
  width: 100%;
}
.header .date td {
  width: 100%;
  vertical-align: bottom;
  color: #1A1818;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  padding: 0 0 5px 0;
  text-align: right;
}

.block-grid.two-up td.stories, .block-grid.two-up td.story {
  padding-left: 0;
  width: 260px;
}
.block-grid.two-up td.stories td, .block-grid.two-up td.story td, .block-grid.two-up td.ad > td {
  padding-left: 0;
  padding-right: 0;
}
.block-grid.two-up td.ad {
  padding-right: 0;
  width: 300px;
}
.content.content-first > td {
  padding-top: 10px;
}


.bodyTable td {
  padding: 0;
}
.bodyTable div p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 20.787px;
}

div.story {
  
}

.block-grid.two-up .story, .content.supp {
  border-bottom: 2px solid #cccccf;
  padding-bottom: 10px;
  margin-bottom: 24px;
}
.block-grid.two-up .story.story-last {
  border-bottom: none;
  margin-bottom: 0;
}
.footer div {
  padding-top: 10px;
}



/*.block-grid.main {
  border-bottom: 2px solid #cccccf;
}*/

/*.row.main.top-stories {
  border-top: 2px solid #cccccf;
}*/

/*.content.supp table.bodyTable {
  margin-bottom: 30px !important;
}*/

.content.supp td {
  vertical-align: top;
}

.footer img {
  display: inline;
  float: none;
  clear: none;
}
.footer p {
  text-align: center;
}
.footer a {
  color: #801019;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}
.footer a.support {
  padding-left: 15px;
}

a {
  color: #1A1818; 
  text-decoration: none;
}

a:hover { 
  color: #1A1818 !important;
  text-decoration: underline !important;
}

a:active { 
  color: #1A1818 !important;
  text-decoration: underline !important;
}

a:visited { 
  color: #1A1818 !important;
}

.content .moreLink {
  color: #801019 !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 16px !important;
  line-height: 20.787px !important;
}
.content .moreLink:after {
  content: " ▸";
}


h1, .h1 { 
  color:#1a1818;
  display:block;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left; 
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-weight: bold;
  text-transform: uppercase; 
}
h2, .h2 {
  color:#801019;
  display:block;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size:16px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
}
h3,.h3 {
  color:#1a1818;
  display:block;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 22px;
  padding: 0;
}
h4, .h4 {
  color:#555556;
  display:block;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size:10px;
  font-weight:normal;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:5px;
  margin-left:0;
  text-align:left;
  text-transform: uppercase;
}
h5, .h5 {
  color:#1A1818;
  display:block;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size:10px;
  font-weight:bold;
  line-height:100%;
  margin-top:0px;
  margin-right:0;
  margin-bottom:5px;
  margin-left:0;
  text-align:left;
  text-transform: uppercase;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
  color: #1A1818;
}

h1 a:active, 
h2 a:active,  
h3 a:active, 
h4 a:active, 
h5 a:active, 
h6 a:active { 
  color: #1A1818 !important; 
} 

h1 a:visited, 
h2 a:visited,  
h3 a:visited, 
h4 a:visited, 
h5 a:visited, 
h6 a:visited { 
  color: #1A1818 !important; 
}

table.more td, table.more td div.inner {
  padding: 15px;
}

table.more td {
  background: #f0f0f5;
  border: 1px solid #cccccf;
  width: auto;
  max-width: 100%;
}

table.more td div.inner {
  background: #fff;
}

table.more h3, table.more .h3 {
  color:#1a1818; display:block; font-family:Georgia; font-size:13px; font-weight:normal; line-height:100%;  margin-top:0; margin-right:0; margin-bottom:15px; margin-left:0;  text-align:left;
}


@media only screen and (max-width: 600px) {

  .header {
    border-bottom: none !important;
  }
  .header .logo {
    border-bottom: 10px solid #000 !important;
    margin-bottom: 5px !important;
  }
  .header .date, .header .date td {
    text-align: left !important;
  }


  table[class="container"] .block-grid td {
    width: auto !important;
  }

  .block-grid.two-up td.story {
    width: 100% !important;
  }

  .block-grid.two-up td.ad {
    width: 100% !important;
    padding: 10px 0 !important;
  }

  .content.main .block-grid.two-up td.ad {
    padding-bottom: 25px !important;
  }

}