/* Your custom styles go here */
table.header {
  border-bottom: 10px solid #000;
  margin-bottom: 5px;
}
table.header td {
  padding-bottom: 0;
  vertical-align: bottom;
}
table.header td.last, table.header td.last table {
  width: 100%;
}
table.header td.last td {
  color: #1A1818;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  padding: 0 0 5px 0;
  text-align: right;
}

h1, .h1 { 
  color:#1a1818; display:block; font-family:Arial;  font-size:16px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:10px; margin-left:0;  text-align:left;  
}
h2, .h2 {
  color:#801019; display:block; font-family:Arial;  font-size:16px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:20px; margin-left:0;  text-align:left;
}
h3,.h3 {
  color:#1a1818; display:block; font-family:Arial;  font-size:16px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:10px; margin-left:0;  text-align:left;
}
h4, .h4 {
  color:#555555; display:block; font-family:Helvetica; font-size:10px; font-weight:normal; line-height:100%; margin-top:0; margin-right:0; margin-bottom:5px; margin-left:0; text-align:left; text-transform: uppercase;
}
h5, .h5 {
  color:#1A1818; display:block; font-family:Helvetica; font-size:10px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; text-align:left; text-transform: uppercase;
}

a {
  color: #1A1818; 
  text-decoration: none;
}

a:hover { 
  color: #1A1818 !important;
  text-decoration: underline;
}

a:active { 
  color: #1A1818 !important;
  text-decoration: underline;
}

a:visited { 
  color: #1A1818 !important;
}

.main .moreLink {
  color: #801019 !important;
  font-family: Helvetica;
  font-size:12px;
}
.main .moreLink:after {
  content: " ▸";
} 

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
  color: #1A1818;
}

h1 a:active, 
h2 a:active,  
h3 a:active, 
h4 a:active, 
h5 a:active, 
h6 a:active { 
  color: #1A1818 !important; 
} 

h1 a:visited, 
h2 a:visited,  
h3 a:visited, 
h4 a:visited, 
h5 a:visited, 
h6 a:visited { 
  color: #1A1818 !important; 
}

table.more td, table.more td div {
  padding: 15px;
}

table.more td {
  background: #f0f0f5;
  border: 1px solid #cccccf;
  width: 100%;
}

table.more td div {
  background: #fff;
}

table.more h3, table.more .h3 {
  color:#1a1818; display:block; font-family:Georgia; font-size:13px; font-weight:normal; line-height:100%;  margin-top:0; margin-right:0; margin-bottom:15px; margin-left:0;  text-align:left;
}


@media only screen and (max-width: 600px) {
  table.header {
    border-bottom: 0;
    margin-bottom: 5px;
  }
  table.header .logo {
    border-bottom: 10px solid #000;
  }
  table.header td.last td {
    text-align: left;
  }
}