Dear {!Opportunity.Donor_first_name__c}, 

Thank you for your generous contribution to support MinnPost's work. Your donation amount of {!Opportunity.Amount} was received on {!Opportunity.CloseDate}. 

No goods or services were provided in exchange for your contribution. 

Your credit card will show a charge to MinnPost Membership. 

You may print a copy of this receipt for your records. You will also be emailed a consolidated tax receipt of your charitable giving at the end of the year. 

We greatly appreciate your generosity. Your support makes MinnPost possible. 

MinnPost Membership 
members@minnpost.com