<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>

    <!-- build:css css/test2.css -->
    <link rel="stylesheet" href="mp-2.css"/>
    <!-- /build -->

    <style type="text/css" data-premailer="ignore">
      .webkit {
        max-width: 600px;
      }
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%;
      }
      a[x-apple-data-detectors] {
        color: #801019 !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: normal !important;
        line-height: inherit !important;
      }
    </style>

    <!--[if (gte mso 9)|(IE)]>
      <style type="text/css" data-premailer="ignore">
        table {border-collapse: collapse;}
      </style>
    <![endif]-->

  </head>
  <body>

  <!-- limit to 50 characters; only display if there is a value -->
  <span style="display: none !important; font-size: 0; color: #fff;"> <!-- gmail only takes display none if it has !important; outlook still doesn't care -->
    This is my preview text that will show up on email clients!
  </span>

  <center class="wrapper">
    <div class="webkit">
      
      <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
          <tr>
            <td>
            <![endif]-->
        <table class="outer" align="center">
          
          <tr>
            <td class="two-column header">
            <!--[if (gte mso 9)|(IE)]>
            <table width="100%">
              <tr>
                <td width="50%" valign="bottom">
            <![endif]-->
              <div class="column logo">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td>
                            <a href=""><img src="https://www.minnpost.com/sites/default/themes/siteskin/inc/images/newsletter-logo-daily.png" alt="MinnPost" width="390" height="90" /></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                  </td><td width="50%" valign="bottom">
            <![endif]-->
              <div class="column date">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td class="text">
                            September 25, 2015
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
            <![endif]-->
            </td> <!-- end .two-column.header -->
          </tr> <!-- end row -->

          <tr>
            <td class="two-column content story">
            <!--[if (gte mso 9)|(IE)]>
            <table width="100%">
              <tr>
                <td width="50%" valign="middle">
            <![endif]-->
              <div class="column story">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td class="text">
                            <h4>Politics &amp; Policy</h4>
                            <h3><a href="https://www.minnpost.com/politics-policy/2015/09/how-st-paul-port-authority-rescued-macy-s-site">How the St. Paul Port Authority rescued the Macy’s site</a></h3>
                            <table class="bodyTable">
                              <tr>
                                <td valign="center">
                                  <h5>By <a href="https://www.minnpost.com/author/peter-callaghan">Peter Callaghan</a></h5>
                                  <div>
                                    <p>If it works, the project will be a rare example of a former downtown department store being successfully repurposed.</p>
                                    <table class="button read-story">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td align="center"><a href="https://www.minnpost.com/politics-policy/2015/09/how-st-paul-port-authority-rescued-macy-s-site"><!--[if mso]>&nbsp;<![endif]-->Read story<!--[if mso]>&nbsp;<![endif]--></a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                  </td><td width="50%" valign="middle">
            <![endif]-->
              <div class="column ad">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td>
                            <p><a href="https://oascnx05089.247realmedia.com/RealMedia/ads/click_nx.ads/MP/email/daily/123442343@Position1?_RM_NX_ID_=*|DATE:d/m/y|**|EMAIL|*"> <img src="https://oascnx05089.247realmedia.com/RealMedia/ads/adstream_nx.ads/MP/email/daily/123442343@Position1?_RM_NX_ID_=*|DATE:d/m/y|**|EMAIL|*" alt="Advertisement." /></a></p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
            <![endif]-->
            </td> <!-- end .two-column.content.story -->
          </tr> <!-- end row -->

          <tr>
            <td class="two-column content story">
            <!--[if (gte mso 9)|(IE)]>
            <table width="100%">
              <tr>
                <td width="50%" valign="middle">
            <![endif]-->
              <div class="column story">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td class="text">
                            <h4>Eric Black Ink</h4>
                            <h3><a href="https://www.minnpost.com/eric-black-ink/2015/09/how-threat-government-shutdown-becomes-normal">How the threat of a government shutdown becomes normal</a></h3>
                            <table class="bodyTable">
                              <tr>
                                <td valign="center">
                                  <h5>By <a href="https://www.minnpost.com/author/eric-black">Eric Black</a></h5>
                                  <div>
                                    <p>Our system has more choke points than any other and is vulnerable when compromise is equated as defeat.</p>
                                    <table class="button read-story">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td align="center"><a href="https://www.minnpost.com/eric-black-ink/2015/09/how-threat-government-shutdown-becomes-normal"><!--[if mso]>&nbsp;<![endif]-->Read story<!--[if mso]>&nbsp;<![endif]--></a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                  </td><td width="50%" valign="middle">
            <![endif]-->
              <div class="column ad">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td>
                            <p><a href="https://oascnx05089.247realmedia.com/RealMedia/ads/click_nx.ads/MP/email/daily/123442343@Position2?_RM_NX_ID_=*|DATE:d/m/y|**|EMAIL|*"> <img src="https://oascnx05089.247realmedia.com/RealMedia/ads/adstream_nx.ads/MP/email/daily/123442343@Position2?_RM_NX_ID_=*|DATE:d/m/y|**|EMAIL|*" alt="Advertisement" /></a></p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
            <![endif]-->
            </td> <!-- end .two-column.content.story -->
          </tr> <!-- end row -->

          <tr>
            <td class="two-column content supp">
            <!--[if (gte mso 9)|(IE)]>
            <table width="100%">
              <tr>
                <td width="50%" valign="top">
            <![endif]-->
              <div class="column stories">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td class="text">
                            <div class="story story-1 story-first">
                              <h4>D.C. Dispatches</h4>
                              <h3><a href="https://www.minnpost.com/dc-dispatches/2015/09/playing-politics-pope-nope">Playing politics with the pope? Nope.</a></h3>
                              <table class="bodyTable">
                                <tr>
                                  <td valign="center">
                                    <h5>By <a href="https://www.minnpost.com/author/sam-brodey">Sam Brodey</a></h5>
                                    <div>
                                      <p>Minnesota’s members of Congress agreed after his historic speech: it’s not worth trying to paint Pope Francis’ politics into a corner — and that’s not the point, anyway.</p>
                                      <table class="button read-story">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td align="center"><a href="https://www.minnpost.com/dc-dispatches/2015/09/playing-politics-pope-nope"><!--[if mso]>&nbsp;<![endif]-->Read story<!--[if mso]>&nbsp;<![endif]--></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>

                            <div class="story story-2">
                              <h4>Artscape</h4>
                              <h3><a href="https://www.minnpost.com/artscape/2015/09/sonny-knight-onstage-67-it-s-life-started-all-over-again-me">Sonny Knight onstage at 67: &#039;It’s like life started all over again for me&#039;</a></h3>
                              <table class="bodyTable">
                                <tr>
                                  <td valign="center">
                                    <h5>By <a href="https://www.minnpost.com/author/pamela-espeland">Pamela Espeland</a></h5>
                                    <div>
                                      <p>In 1965, Knight was Little Sonny Knight, a 17-year-old Minneapolis soul singer with a 45 rpm single, “Tears on My Pillow.” After years on the road as a truck driver, Knight the musician is back.</p>
                                      <table class="button read-story">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td align="center"><a href="https://www.minnpost.com/artscape/2015/09/sonny-knight-onstage-67-it-s-life-started-all-over-again-me"><!--[if mso]>&nbsp;<![endif]-->Read story<!--[if mso]>&nbsp;<![endif]--></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>

                            <div class="story story-3 story-last">
                              <h4>Quizzes</h4>
                              <h3><a href="https://www.minnpost.com/quiz/minnpost-quiz-week-september-25-2015">MinnPost Quiz for the week of September 25, 2015</a></h3>
                              <table class="bodyTable">
                                <tr>
                                  <td valign="center">
                                    <h5>By <a href="https://www.minnpost.com/author/andrew-minck">Andrew Minck</a></h5>
                                    <div>
                                      <p>Test your Minnesota news IQ with this week's MinnPost Quiz.</p>
                                      <table class="button read-story">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td align="center"><a href="https://www.minnpost.com/quiz/minnpost-quiz-week-september-25-2015"><!--[if mso]>&nbsp;<![endif]-->Take quiz<!--[if mso]>&nbsp;<![endif]--></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                  </td><td width="50%" valign="top">
            <![endif]-->
              <div class="column more">
                <table width="100%">
                  <tr>
                    <td class="inner">
                      <table class="contents">
                        <tr>
                          <td class="text">
                            <table class="more">
                              <tr>
                                  <td>
                                    <div class="inner">
                                      <h2>MORE STORIES</h2>
                                      <h4>The Glean</h4>
                                      <h3>
                                        <a href="https://www.minnpost.com/glean/2015/09/state-flouts-judges-orders-sex-offender-program">State flouts judge&#039;s orders on sex offender program </a>
                                      </h3>
                                      <h4>Sports</h4>
                                      <h3><a href="https://www.minnpost.com/sports/2015/09/timberwolves-season-uncertainty">The Timberwolves&#039; season of uncertainty</a></h3>
                                      <h4>Mental Health &amp; Addiction</h4>
                                      <h3><a href="https://www.minnpost.com/mental-health-addiction/2015/09/paul-riedner-helping-veterans-recover-trauma-war-gives-life-meaning-">Paul Riedner: Helping veterans recover from trauma of war gives life &#039;meaning and purpose&#039;</a></h3>
                                      <h4>Political Agenda</h4>
                                      <h3><a href="https://www.minnpost.com/political-agenda/2015/09/coleman-lead-st-paul-delegation-visit-japan-and-china">Coleman to lead St. Paul delegation on visit to Japan and China</a></h3>
                                      <h4>Second Opinion</h4>
                                      <h3><a href="https://www.minnpost.com/second-opinion/2015/09/one-10-pregnant-women-us-report-drinking-alcohol-cdc-finds">One in 10 pregnant women in U.S. report drinking alcohol, CDC finds</a></h3>
                                      <h4>Political Agenda</h4>
                                      <h3><a href="https://www.minnpost.com/political-agenda/2015/09/dalai-lama-minnesota-checkup-mayo">Dalai Lama in Minnesota for checkup at Mayo </a></h3>
                                      <h4>The Glean</h4>
                                      <h3><a href="https://www.minnpost.com/glean/2015/09/twin-cities-light-rail-exceeds-100000-daily-riders-first-time">Twin Cities light rail exceeds 100,000 daily riders for first time</a></h3>
                                    </div>
                                  </td>
                              </tr>
                          </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
            <![endif]-->
            </td> <!-- end .two-column.content.supp -->
          </tr> <!-- end row -->



          <tr>
            <td class="one-column footer">
              <table width="100%">
                <tr>
                  <td class="inner contents">
                    <p>
                      <a href="https://twitter.com/MinnPost" class="twitter"><img width="25" height="25" title="Follow us on Twitter" alt="Follow us on Twitter" src="https://minnpost.com/sites/default/themes/siteskin/inc/images/icons/twitter.png"></a>
                      <a href="https://www.facebook.com/MinnPost" class="facebook"><img width="25" height="25" title="Friend us on Facebook" alt="Like us on Facebook" src="https://minnpost.com/sites/default/themes/siteskin/inc/images/icons/facebook.png"></a>
                      <a href="https://minnpost.com/support" class="support">Become a Member</a>
                      <a href="mailto:feedback@minnpost.com" class="contact">Contact Us</a>
                    </p>
                    <p class="address">MinnPost | 900 6th Avenue SE | Minneapolis, MN 55414 | 612.455.6950</p>
                  </td>
                </tr>
              </table>
            </td> <!-- end .one-column.footer -->
          </tr> <!-- end row -->

        </table> <!-- end .outer -->
            <!--[if (gte mso 9)|(IE)]>
            </td>
          </tr>
        </table>
      <![endif]-->

    </div>
  </center>

  </body>
</html>